* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header and Hero */
.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0.25rem 1rem darkgray;
  width: 100%;
  height: 40rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  background-color: #f8f9fa;
  width: 70%;
  height: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1rem darkgray;
  position: absolute;
  top: 3%;
  left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav ul li {
  display: inline-block;
  padding: 0.75rem;
}

nav ul li a {
  text-decoration: none;
  color: #495057;
  font-size: 1rem;
}

nav ul li a:hover {
  color: #adb5bd;
}

.banner h1 {
  font-family: "raleway", sans-serif;
  font-weight: 300;
  font-size: 10rem;
  font-style: italic;
  color: #fff;
  margin: 13rem auto;
}

/* Mission */
.mission {
  color: #343a40;
  background-color: #f8f9fa;
  text-align: center;
  width: 100%;
  height: 40rem;
  display: flex;
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.mission-image {
  width: 70rem;
  height: 30rem;
  margin-left: 1.25rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.mission-image img {
  width: 100%;
  height: auto;
  margin: 0 2rem;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 0 3rem #6c757d;
}

.mission-text {
  width: 100%;
  height: 30rem;
  margin: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.mission-text h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.mission-text p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mission-text span {
  font-style: italic;
}

/* Products */
.products {
  color: #343a40;
  background-color: #f8f9fa;
  width: 100%;
  height: 40rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.products-container {
  width: 100%;
  height: 30rem;
  margin: 1.75rem;
  display: flex;
  flex-flow: row wrap;
  gap: 7rem;
  justify-content: center;
  align-items: center;
}

.product {
  border-radius: 1rem;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem #6c757d;
}

.product-title {
  border: 1px solid #6c757d;
  box-shadow: 0 0 1rem #6c757d;
  border-radius: 1rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product h3 {
  font-size: 1.75rem;
}

/* Employees */
.employees {
  background-color: #f8f9fa;
  color: #343a40;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.employees h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.employees-container {
  width: 100%;
  height: auto;
  margin: 1.75rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.employee {
  width: 15rem;
  height: 26rem;
  margin: 1rem 4.28rem;
}

.employee-image {
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #6c757d;
}

.employee-name {
  border: 1px solid #6c757d;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #6c757d;
  font-size: 1rem;
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}